body {
    background-image: url(/assets/TabernaInterior.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 10vw;
    height: 40vh;
}

