body {
    background-image: url(/assets/TabernoExterior.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 1vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.placaEntrar {
    position: absolute;
    bottom: 0;
    right: 0;
    cursor: pointer;
}