body{
    background-image: url(/assets/Cashout.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#pacote{
    position: relative;
    top: 20vh;
    right: 18vw;
    height: 30vh;
}

.moedas{
    position: relative;
    top: 20vh;
    left: 20vw;
    cursor: pointer;
}