body {
    background-image: url(/assets/ItensBackgrounds.png);
    font-family: Arial, sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 1vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 100px;
}

.botao {
    width: 30vh;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none !important;
    cursor: pointer;
}

.product {
    margin: 20px;
    padding: 10px;
    border: 1px solid #ccc;
}

.cart-total {
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: #f1f1f1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

#empty-cart{
    top: 56px;
}

#go-to-cart{
    top: 100px;
}

